td audio {
  width: 100%;
  max-width: 300px;
}
td{
  min-width: 200px;
}

@media (max-width: 768px) {
  audio {
    max-width: 300px;
  }
  
}

@media (max-width: 480px) {
  audio {
    max-width: 200px;
  }
}